<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Material</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Icon</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic icons</h4>
                    </div>
                    <div class="card-body">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">SVG icons</h4>
                    </div>
                    <div class="card-body">
                        <app-svg-icon></app-svg-icon>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->