<!--**********************************
	Content body start
***********************************-->
<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="table-responsive">
					<table id="example2" class="table card-table event-table display dataTablesCard">
						<thead>
							<tr>
								<th>
									<div class="checkbox mr-0 align-self-center">
										<div class="custom-control custom-checkbox ">
											<input type="checkbox" class="custom-control-input" id="checkAll" required="" [(ngModel)]="isMasterSel" name="list_name" value="h1" (change)="checkUncheckAll()">
											<label class="custom-control-label" for="checkAll"></label>
										</div>
									</div>
								</th>
								<th>Cust. ID</th>
								<th>Customer Name</th>
								<th>Ticket Ordered </th>
								<th>Location</th>
								<th>Total Spent</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let customer of customers; let i= index">
								<td>
									<div class="checkbox mr-0 align-self-center">
										<div class="custom-control custom-checkbox ">
											<input type="checkbox" class="custom-control-input" id="customCheckBox_{{i}}" [(ngModel)]="customer.isSelected">
											<label class="custom-control-label" for="customCheckBox_{{i}}"></label>
										</div>
									</div>
								</td>
								<td>#{{ customer.cust_id }}</td>
								<td>{{ customer.customer_name }}</td>
								<td>
									<span class="text-nowrap" [innerHTML]="customer.ticket_ordered"></span>
								</td>
								<td>{{ customer.location }}</td>
								<td><span class="text-primary">{{ customer.total_spent }}</span></td>
								<td>
									<div class="d-flex align-items-center">
										<a href="javascript:void(0)" class="mr-4">
											<i class="las la-pencil-alt scale-2"></i>
										</a>
										<a href="javascript:void(0)">
											<i class="las la-trash-alt scale-2 text-danger"></i>
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					
					<div class="d-flex justify-content-between p-2">
						<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="updateCustomerListing()">
						</ngb-pagination>
						
						<select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="updateCustomerListing()">
							<option [ngValue]="5">5 items per page</option>
							<option [ngValue]="10">10 items per page</option>
							<option [ngValue]="20">20 items per page</option>
						</select>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<!--**********************************
	Content body end
***********************************-->