<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="container-fluid default-apex-cl">
        <div class="page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Apex Chart</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Mixed chart</a></li>
                </ol>
            </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Line Column</h4>
                    </div>
                    <div class="card-body">
                        
                        <app-mixed-line-column></app-mixed-line-column>
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Multiple Y-Axis</h4>
                    </div>
                    <div class="card-body">
                        
                        <app-mixed-multiple-y-axis></app-mixed-multiple-y-axis>
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Line & Area</h4>
                    </div>
                    <div class="card-body">
                        
                        <app-mixed-line-area></app-mixed-line-area>
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Line Column Area</h4>
                    </div>
                    <div class="card-body">
                        
                        <app-mixed-line-column-area></app-mixed-line-column-area>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->